*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --branco: #fff;
    --azulBebe: #acc9e1;
    --azulEscuro: #5a88b9;
    --bege: #e4dad3;
}

body{
    background-color: var(--branco);
}

header{
    width: 100%;
}

header>div.container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
    background-color: #fff;
}
.container-flex{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo{
    width: 155px;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a{
    font-size: 25px;
    color: var(--Preto--);
    text-decoration: none;
}

.links a:hover{
    color: var(--azulEscuro);
    border-bottom: 1px solid var(--azulEscuro);
}

#icone-barras,
#icone-x,
#menu_botao{
    display: none;
}